/* General Overlay Styles */
.overlay,
.sn-disclaimer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.sn-disclaimer-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Popup Container */
.popup,
.sn-disclaimer-content {
    background-color: #fff;
    padding: 2vw;
    border-radius: 0.8vw;
    box-shadow: 0 0.2vw 1vw rgba(0, 0, 0, 0.1);
    max-width: 80vw;
    max-height: 80vh;
    overflow-y: auto;
    animation: sn-popUp 0.3s ease-out;
}

/* Text and Button Styles */
.popup pre,
.sn-disclaimer-content p {
    white-space: pre-wrap;
    font-size: 1.6vw;
    color: #333;
    margin-bottom: 1vw;
}

.sn-disclaimer-content button,
.start-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 1vw 2vw;
    border-radius: 0.5vw;
    cursor: pointer;
    margin-right: 1vw;
    margin-top: 0.5vw;
}

.sn-disclaimer-content button:last-child {
    background-color: #6c757d;
}

.start-button {
    display: block;
    margin: 2vw auto;
    padding: 1vw 2vw;
    border-radius: 0.5vw;
}



/* Input Box Container */
.input-container {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.input-box {
    width: 80vw;
    padding: 2vw;
    border: 1vw solid #f88c08;
    border-radius: 2vw;
    background-color: white;
    box-sizing: border-box;
}

/* Suggestions Container */
.suggestions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vw;
  margin-top: 2vw;
  justify-content: center;
  max-width: 80%; /* Prevents overflow */
  box-sizing: border-box; /* Includes padding and border in width calculations */
  margin: 0 auto; /* Centers the container horizontally */
}

.suggestion-box {
  padding: 1.5vw;
  background-color: #f0f0f0;
  border-radius: 1vw;
  cursor: pointer;
  flex-basis: calc(15% - 2vw); /* Adjusted to make the boxes shorter horizontally */
  text-align: center;
  margin-bottom: 1.5vw;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion-box:hover {
    background-color: #dcdcdc;
    transform: translateY(-3px);
}

.suggestion-box.selected {
    background-color: #007BFF;
    color: white;
    transform: translateY(-3px);
}

/* Custom Suggestions Container */
.custom-suggestions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  margin-top: 2vw;
  width: 100%;
  max-width: 30%;
  margin: 0 auto;
}

/* Input Styles */
.sn-disclaimer-content input,
.custom-suggestions input {
    width: calc(80% - 2.2vw);
    padding: 1vw;
    margin-bottom: 1.5vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.5vw;
}

.custom-suggestions input {
  flex-grow: 1;
  padding: 1vw;
  border: 1px solid #ccc;
  border-radius: 1vw;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;  /* Initial color is white */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-suggestions input:focus {
  background-color: #E0F7FA;  /* Light blue on focus */
  border-color: #007BFF;
  box-shadow: inset 0px 2px 4px rgba(0, 123, 255, 0.3);
}

.custom-suggestions input:focus {
  border-color: #007BFF;
  box-shadow: inset 0px 2px 4px rgba(0, 123, 255, 0.3);
}

.add-button {
  padding: 1vw 2vw;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.add-button:hover {
  background-color: #218838;
  transform: translateY(-3px);
}

.remove-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.8vw;
  border-radius: 50%;
  margin-left: 0.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5vw;
  height: 2.5vw;
  font-size: 1vw;
}

.remove-button:hover {
  background-color: #c82333;
  transform: translateY(-3px);
}
/* Animations */
@keyframes sn-popUp {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.centered-result {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2vw; /* Adjusted padding using vw */
  border-radius: 1vw; /* Adjusted border-radius using vw */
  text-align: center;
  width: 70vw; /* Adjusted width using vw */
  max-width: 90%; /* Limit the maximum width to 90% of the viewport width */
  border: 0.5vw solid #f88c08; /* Orange border using vw */
}

.action-buttons {
  margin-top: 2vw; /* Adjusted margin-top using vw */
}

.save-button, .delete-button {
  margin: 1vw; /* Adjusted margin using vw */
  padding: 1vw 2vw; /* Adjusted padding using vw */
  border: none;
  border-radius: 0.5vw; /* Adjusted border-radius using vw */
  cursor: pointer;
}

.save-button {
  background-color: #4CAF50; /* Green */
  color: white;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
}