.home-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #ffefc6;
}

.homepage-card-carousel-nav-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage-card-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 70%; /* Adjusted for better responsiveness */
    width: 100%;
    z-index: 1; /* Ensure carousel is below the navigation */
    overflow: visible;
}

.homepage-card h2,
.homepage-card p {
    width: 100%;
    text-align: left; /* Ensure both title and description are left-justified */
    margin: 2% 0; /* Adjust this value to set the space between elements */
}

.homepage-card {
    flex: 0 0 auto;
    width: 40vw;
    height: 40vw;
    max-width: none;
    max-height: none;
    margin: 0 2%;
    background-color: #fdaf22;
    color: white;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; /* Changed to align items to the left */
    transition:
        transform 0.5s ease-in-out,
        opacity 0.5s ease-in-out;
    position: relative;
    opacity: 1;
    font-size: 3vw;
    padding: 5%;
    box-sizing: border-box;
    z-index: 2;
    overflow: hidden; /* Ensure content doesn't overflow */
    display: inline-block;
}

.homepage-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.homepage-card > * {
    margin-bottom: 2%; /* Adjust this to bring the content closer together */
}

.homepage-card > *:last-child {
    margin-bottom: 0; /* Remove margin for the last child element */
}

.squircle {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 30%;
    height: 30%;
    background-color: #3666fb;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; /* Ensure squircle is below the text but above the card background */
}

.homepage-card h2,
.homepage-card p,
.homepage-card .homepage-start-button {
    position: relative;
    z-index: 3; /* Ensure text and button are above the squircle */
}

.squircle .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.homepage-card.left {
    transform: translate(-3vw, 6vh);
    opacity: 0;
}

.homepage-card.right {
    transform: translate(3vw, -6vh);
    opacity: 0;
}

.homepage-card h2 {
    margin-top: 0;
    font-size: 1.5em; /* Adjusted for better responsiveness */
}

.homepage-card p {
    margin: 2% 0;
    font-size: 1em; /* Adjusted for better responsiveness */
}



.homepage-start-button:hover {
    background-color: #2851a3;
}

.homepage-carousel-nav {
    position: absolute; /* Absolute positioning relative to the parent */
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Center vertically */
    display: flex;
    justify-content: space-between; /* Ensure buttons are on the left and right */
    width: 70%; /* Adjust width to bring buttons closer */
    margin: 0 auto; /* Center the container */
    z-index: 2; /* Ensure buttons are above the cards */
}

.homepage-nav-button {
    background-color: #3666fb;
    color: white;
    border: none;
    border-radius: 50%; /* Ensures the button is circular */
    width: 3vw; /* Ensures width and height are equal */
    height: 3vw; /* Ensures width and height are equal */
    padding: 0; /* Ensure no padding affects the dimensions */
    cursor: pointer;
    font-size: 1vw; /* Adjusted for better responsiveness */
    transition: background-color 0.3s ease;
}

.homepage-nav-button:hover {
    background-color: #2851a3;
}

.homepage-card.empty {
    position: absolute;
    bottom: -7vw; /* Adjust this value as needed */
    left: 29vw; /* Adjust this value as needed */
    width: 40vw; /* Adjust this value as needed */
    height: 40vw; /* Adjust this value as needed */
    border-radius: 2%;
    opacity: 0.2;
    background-color: #fdaf22;
}

.homepage-card.empty.left-card {
    transform: translate(-10%, -10%); /* Adjust these values as needed */
}

.logout-button {
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: #3666fb;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1% 2%;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 3; /* Ensure button is above other elements */
}

.logout-button:hover {
    background-color: #2851a3;
}
